<h1>Create New Order for @Model.Name:</h1>

<form action="/vendors/@Model.Id/items" method="post">
  @*<input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">*@
  <label for="orderTitle">Title</label>
  <input id="orderTitle" name="orderTitle" type="text">

  <label for="orderDescription">Description</label>
  <input id="orderDescription" name="orderDescription" type="text">

  <label for="orderPrice">Price</label>
  <input id="orderPrice" name="orderPrice" type="number">

  <label for="orderDate">Date</label>
  <input id="orderDate" name="orderDate" type="text">

  <button type="submit">Submit</button>

</form>



