<h2>Order details:</h2>

<h3>@Model["order"].Title</h3>
<h4>@Model["order"].Description</h4>
<h4>@Model["order"].Price</h4>
<h4>@Model["order"].Date</h4>

<a href='/orders/@Model["order"].Id/vendors/new'>Create new order</a>
<a href='/vendors'>Vendor Menu</a>

