<h2>Order details:</h2>

<h3>For: @Model["order"].Title</h3>
<h4>Order details: @Model["order"].Description</h4>
<h4>Price: @Model["order"].Price</h4>
<h4>Date order was placed: @Model["order"].Date</h4>

<a href='/vendors'>Vendor Menu</a>

