<h1>Order details:</h1>

<h2>@Model["order"].Title</h2>
<h3>Order details: @Model["order"].Description</h3>
<h3>Price: @Model["order"].Price</h3>
<h3>Date order was placed: @Model["order"].Date</h3>

<h3><a href='/vendors'>Vendor Menu</a></h3>

