@using VendorOrder.Models;

<h4>Orders from this vendor:</h4>
<ul>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>

    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>

  }
</ul>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>


